<div id="demo" class="owl-demo"
     data-mage-init='{"Sun_Helloworld/js/demo/demo": {"loop": false,"nav": false, "items" : 1, "dots": false, "autoplayTimeout" : 3000, "autoplay" : true}}'>
    <?php
    foreach ($block->getAllUser() as $user):?>
        <table>
            <tr>
                <th><?php echo __('User_Id') ?></th>
                <th><?php echo __('First name') ?></th>
                <th><?php echo __('Last name') ?></th>
                <th><?php echo __('Email') ?></th>
            </tr>
            <tr>
                <td><?php echo __($user['user_id']) ?></td>
                <td><?php echo __($user['firstname']) ?></td>
                <td><?php echo __($user['lastname']) ?></td>
                <td><?php echo __($user['email']) ?></td>
            </tr>
        </table>
    <?php
    endforeach;
    ?>
</div>

