<div id="owlslider" class="owl-carousel owl-theme">
    <?php
    foreach ($block->getAllUser() as $user):
        ?>
        <table>
            <tr>
                <th><?php echo __('User_Id') ?></th>
                <th><?php echo __('First name') ?></th>
                <th><?php echo __('Last name') ?></th>
                <th><?php echo __('Email') ?></th>
            </tr>
            <tr>
                <td><?php echo __($user['user_id']) ?></td>
                <td><?php echo __($user['firstname']) ?></td>
                <td><?php echo __($user['lastname']) ?></td>
                <td><?php echo __($user['email']) ?></td>
            </tr>
        </table>
    <?php
    endforeach;
    ?>
</div>

<script type="text/javascript" xml="space">
    require([
        'jquery',
        'owlcarousel'
    ], function ($) {
        $(document).ready(function () {
            $('.owl-carousel ').owlCarousel({
                loop: true,
                nav: false,
                items: 1,
                dots: true,
                autoplay: true,
                autoplayTimeout: 3000
            })
        });
    });
</script>
