<?php
$user_id = 1;
$user = $block->getById($user_id)->getData();
?>

<table>
    <tr>
        <th><?php echo __('User_Id') ?></th>
        <th><?php echo __('First name') ?></th>
        <th><?php echo __('Last name') ?></th>
        <th><?php echo __('Email') ?></th>
    </tr>
    <tr>
        <td><?php echo __($user['user_id']) ?></td>
        <td><?php echo __($user['firstname']) ?></td>
        <td><?php echo __($user['lastname']) ?></td>
        <td><?php echo __($user['email']) ?></td>
    </tr>
</table>
